@import "./backlight";
@import "./pattern-bg";

html {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c2027;
}

/* Fluid font size */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Caret animation */
span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Main part */
.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 90vw;
  max-width: 1200px;

  .main-text {
    color: white;
    text-align: center;
    margin: 0;
  }

  .under-text {
    color: #abb7c0;
    text-align: center;
    margin: 0.5rem;
    max-width: 900px;
  }

  .demo-image {
    margin-top: 2rem;
    width: 100%;
    max-width: 850px;
    border-radius: 0.25rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  }
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
}
.button {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  background-color: rgb(238, 239, 241);
  color: #3d434e;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08);
}
.secondary {
  border: 0.1rem rgb(178, 183, 194) solid;
  background: none;
  color: rgb(175, 182, 197);
}
.button svg {
  margin-right: 0.2rem;
}
.button:hover {
  opacity: 80%;
  transition: 0.4s;
}
@media screen and (max-width: 480px) {
  .buttons {
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  .button {
    width: 80%;
    text-align: center;
  }
}
